<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #jobTitleForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="jobTitle.id">{{l("EditJobTitle")}}</span>
                        <span *ngIf="!jobTitle.id">{{l("CreateNewJobTitle")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="JobTitle_NameAr">{{l("NameAr")}} *</label>
									<input type="text" id="jobTitle_NameAr" class="form-control" [(ngModel)]="jobTitle.nameAr" name="NameAr"     required/>
								</div>
					
								<div class="form-group">
									<label for="JobTitle_NameEn">{{l("NameEn")}} *</label>
									<input type="text" id="JobTitle_NameEn" class="form-control" [(ngModel)]="jobTitle.nameEn" name="NameEn"     required/>
								</div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!jobTitleForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>