<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
        <div [class]="containerClass">

        </div>
    </div>
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            {{l('ManageFaceId')}}
                        </h3>
                    </div>
                </div>
                <!--begin::Form-->
                <form #userSearchForm="ngForm" class="kt-form kt-form--label-right" (ngSubmit)="search(userSearchForm)" >
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>{{l('civilId')}}</label>
                                <input type="text" #civilIdInput="ngModel" [ngClass]="{ 'is-invalid': userSearchForm.submitted && civilIdInput.invalid}" name="civilId" [(ngModel)]="civilId" class="form-control" required placeholder="Enter civil Id">
                                <validation-messages [formCtrl]="civilIdInput" [frm]="userSearchForm"></validation-messages>

                            </div>
                            <div class="col-lg-6" style="margin-top:25px">
                               <button type="submit" class="btn btn-success">{{l('Search')}}</button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="form-group  row" [busyIf]="updatingUserFace" style="border: solid;border-radius: 75px;padding-top: 40px;margin: 1%;" *ngIf="user.id">
                    <div class="col-lg-1"></div>
                        <div class="col-lg-3">
                            <button style="margin-right: 20px;margin-bottom: 15px;" id="liveness-button" disabled (click)="livenessCheck()" class="btn btn-success">{{l('UpdateFaceId')}}</button> <br>
                            <p id="status">Initializing...</p>

                                <img imgGhost width="50%" *ngIf="photoLoaded"  height="50%" class="m--img-rounded m--marginless m--img-centered" alt="Pic" [src]="testSrc">



                        </div>
                        <div class="col-lg-8">
                            <div class="row" style="margin: 8%;">
                                <div class="col-6 mb-3">
                                    <h4>{{l('UserName')}} : </h4> {{user.name}}

                                </div>

                                <div class="col-6 mb-3">
                                    <h4>{{l('civilId')}} : </h4>{{user.civilId}}

                                </div>

                                <div class="col-6 mb-3">
                                    <h4> {{l('cardNumber')}} : </h4> {{user.cardNumber}}

                                </div>

                                <div class="col-6 mb-3">
                                    <h4>   {{l('unit')}} : </h4> {{user.unitDisplayName}}

                                </div>


                            </div>
                        </div>

                </div>
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>
</div>
