<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
        <div [class]="containerClass">

        </div>
    </div>
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
<div class="row">
    <div class="col-lg-12">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        <span *ngIf="shift.id">{{l("EditShift")}}</span>
                         <span *ngIf="!shift.id">{{l("CreateNewShift")}}</span>
                    </h3>
                </div>
            </div>
            <!--begin::Form-->
            <form  class="kt-form kt-form--label-right" *ngIf="active"  #shiftForm="ngForm" novalidate (ngSubmit)="save(shiftForm)" autocomplete="off">
                <div class="kt-portlet__body">
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label for="Shift_NameAr">{{l("NameAr")}} *</label>
                            <input type="text" id="Shift_NameAr" class="form-control" [ngClass]="{ 'is-invalid': shiftForm.submitted && nameArInput.invalid}" #nameArInput="ngModel" [(ngModel)]="shift.nameAr" name="NameAr"     required/>
                            <validation-messages [formCtrl]="nameArInput" [frm]="shiftForm"></validation-messages>
                        </div>
                        <div class="col-lg-4">
                            <label for="Shift_NameEn">{{l("NameEn")}} *</label>
                                <input type="text" id="Shift_NameEn" class="form-control" [ngClass]="{ 'is-invalid': shiftForm.submitted && nameEnInput.invalid}" #nameEnInput="ngModel" [(ngModel)]="shift.nameEn" name="NameEn"     required/>
                                <validation-messages [formCtrl]="nameEnInput" [frm]="shiftForm"></validation-messages>
                        </div>
                        <div class="col-lg-4">
                            <label for="Shift_Code">{{l("Code")}} *</label>
                            <input type="text" id="Shift_Code" class="form-control" [ngClass]="{ 'is-invalid': shiftForm.submitted && codeInput.invalid}"  #codeInput="ngModel" [(ngModel)]="shift.code" name="Code"     required/>
                            <validation-messages [formCtrl]="codeInput" [frm]="shiftForm"></validation-messages>
                        </div>
                    </div>

                            <div class="form-group row">
                                <div class="col-lg-4">
                                    <label for="Shift_DayOff">{{l("DayOff")}}</label>
                                    <select class="form-control" name="DayOff" id="Shift_DayOff"  [ngClass]="{ 'is-invalid': shiftForm.submitted && dayOffInput.invalid}" #dayOffInput="ngModel"  [(ngModel)]="shift.dayOff" required>
                                        <validation-messages [formCtrl]="dayOffInput" [frm]="shiftForm"></validation-messages>
                                    <option value="6">{{l('Satarday')}}</option>

                                    <option value="7">{{l('Sunday')}}</option>

                                    <option value="1">{{l('Monday')}}</option>

                                    <option value="2">{{l('Tuesday')}}</option>

                                    <option value="3">{{l('Wednesday')}}</option>

                                    <option value="4">{{l('Thursday')}}</option>

                                    <option value="5">{{l('Friday')}}</option>


                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label for="Shift_DayRest">{{l("DayRest")}}</label>
                                    <select class="form-control" name="DayRest" [ngClass]="{ 'is-invalid': shiftForm.submitted && dayRestInput.invalid}"  #dayRestInput="ngModel" id="Shift_DayRest" [(ngModel)]="shift.dayRest" required>
                                        <validation-messages [formCtrl]="dayRestInput" [frm]="shiftForm"></validation-messages>
                                  <option value="6">{{l('Satarday')}}</option>

                                    <option value="7">{{l('Sunday')}}</option>

                                    <option value="1">{{l('Monday')}}</option>

                                    <option value="2">{{l('Tuesday')}}</option>

                                    <option value="3">{{l('Wednesday')}}</option>

                                    <option value="4">{{l('Thursday')}}</option>

                                    <option value="5">{{l('Friday')}}</option>



                                    </select>
                                </div>

                                <div class="col-lg-4">


                                </div>
                            </div>
                            <div class="from-group row">
                                <p-checkbox [(ngModel)]="shift.isDayRestCalculatedWithFixedHours" (onChange)="onIsDayRestCalculatedWithFixedHoursChanged()" name="IsDayRestCalculatedWithFixedHours" binary="true"></p-checkbox>
                                <label style="padding: 5px;" for="IsDayRestCalculatedWithFixedHours">{{l("IsDayRestCalculatedWithFixedHours")}}</label>

                            <p-checkbox [(ngModel)]="shift.isDayRestCalculated" (onChange)="onIsDayRestCalculatedChanged()"  name="IsDayRestCalculated" binary="true"></p-checkbox>
                                 <label style="padding: 5px;" for="IsDayRestCalculated">{{l("IsDayRestCalculated")}}</label>

                                    <p-checkbox (onChange)="onFlexibleChanged()" [(ngModel)]="shift.isFlexible" name="IsFlexible" id="IsFlexible" binary="true"></p-checkbox>
                                   <label style="padding: 5px;" for="IsFlexible">{{l("IsFlexible")}}</label>


                                    <p-checkbox (onChange)="oneFingerprintChanged()"  [(ngModel)]="shift.isOneFingerprint" name="IsOneFingerprint" id="IsOneFingerprint" binary="true"></p-checkbox>
                                     <label style="padding: 5px;" for="IsOneFingerprint">{{l("IsOneFingerprint")}}</label>


                                    <p-checkbox (onChange)="onTwoFingerprintChanged()" [(ngModel)]="shift.isTwoFingerprint" name="IsTwoFingerprint" binary="true"></p-checkbox>
                                     <label style="padding: 5px;" for="IsTwoFingerprint">{{l("IsTwoFingerprint")}}</label>


                                    <p-checkbox (onChange)="onInOutWithoutClculateHoursChanged()" [(ngModel)]="shift.isInOutWithoutClculateHours"  name="IsInOutWithoutClculateHours" binary="true"></p-checkbox>
                                     <label style="padding: 5px;" for="IsInOutWithoutClculateHours">{{l("IsInOutWithoutClculateHours")}}</label>

                                     <p-checkbox [(ngModel)]="shift.hasRamadanSetting" name="HasRamadanSetting" binary="true"></p-checkbox>
                                     <label style="padding: 5px;" for="HasRamadanSetting">{{l("HasRamadanSetting")}}</label>

                                     <p-checkbox *ngIf="shift.isTwoFingerprint || shift.isFlexible"  [(ngModel)]="shift.isPunchNextDay" name="IsPunchNextDay" binary="true"></p-checkbox>
                                     <label *ngIf="shift.isTwoFingerprint || shift.isFlexible" style="padding: 5px;" for="IsPunchNextDay">{{l("IsPunchNextDay")}}</label>

                            </div>
                            <div class="from-group row">
                                <div class="col-lg-4" *ngIf="shift.isTwoFingerprint" [ngClass]="{'timeGroup marginRight': this.localization.currentLanguage['isRightToLeft'],'timeGroupEn': !this.localization.currentLanguage['isRightToLeft']}">
                                    <div class="col-lg-2" >
                                        <label for="Shift_TimeIn">{{l("TimeIn")}}</label>
                                        <timepicker  [(ngModel)]="TimeInObj"  name="TimeInObj"  [showMeridian]="meridian"></timepicker>
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="Shift_TimeOut">{{l("TimeOut")}}</label>
                                        <timepicker [(ngModel)]="TimeOutObj"  name="TimeOutObj" [showMeridian]="meridian"></timepicker>
                                    </div>

                                </div>

                                <div class="col-lg-4" *ngIf="shift.hasRamadanSetting && shift.isTwoFingerprint"  [ngClass]="{'timeGroup marginLeft': this.localization.currentLanguage['isRightToLeft'],'timeGroupEn marginLeft': !this.localization.currentLanguage['isRightToLeft']}">
                                    <div class="col-lg-2" >
                                        <label for="Shift_TimeInRamadan">{{l("TimeInRamadan")}}</label>
                                        <timepicker  [(ngModel)]="TimeInRamadanObj"  name="TimeInRamadanObj"  [showMeridian]="meridian"></timepicker>
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="Shift_TimeOutRamadan">{{l("TimeOutRamadan")}}</label>
                                        <timepicker [(ngModel)]="TimeOutRamadanObj"  name="TimeOutRamadanObj" [showMeridian]="meridian"></timepicker>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group row" >
                                <div class="col-lg-4" *ngIf="shift.isFlexible">
                                    <label for="Shift_TotalHoursPerDay">{{l("TotalHoursPerDay")}} *</label>
                                    <input type="number" min="0" id="Shift_TotalHoursPerDay" class="form-control" [(ngModel)]="shift.totalHoursPerDay" name="TotalHoursPerDay"/>
                                </div>
                                <div class="col-lg-4" *ngIf="shift.isFlexible || shift.isTwoFingerprint">
                                    <label for="TotalLateMinutesPerMonth">{{l("TotalLateMinutesPerMonth")}} *</label>
                                    <input type="number" min="0" id="Shift_TotalLateMinutesPerMonth" class="form-control" [(ngModel)]="shift.totalLateMinutesPerMonth" name="TotalLateMinutesPerMonth"/>
                                </div>

                                <div class="col-lg-4" *ngIf="shift.isFlexible && shift.hasRamadanSetting">

                                        <label for="Shift_TotalHoursPerDayRamadan">{{l("TotalHoursPerDayRamadan")}} </label>
                                         <input type="number" min="0"  id="Shift_TotalHoursPerDayRamadan" class="form-control" [(ngModel)]="shift.totalHoursPerDayRamadan" name="TotalHoursPerDayRamadan"/>

                                </div>

                                <div class="col-lg-4" *ngIf="(shift.isFlexible || shift.isTwoFingerprint) && shift.hasRamadanSetting">

                                    <label for="Shift_TotalLateMinutesPerMonthRamadan">{{l("TotalLateMinutesPerMonthRamadan")}} </label>
                                     <input type="number" min="0"  id="Shift_TotalLateMinutesPerMonthRamadan" class="form-control" [(ngModel)]="shift.totalLateMinutesPerMonthRamadan" name="TotalLateMinutesPerMonthRamadan"/>

                            </div>


                            </div>


                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions">
                        <div class="row">
                            <div class="col-lg-6">
                                <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                                <button type="submit" class="btn btn-primary blue" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
    </div>
</div>
</div>

</div>
