<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
        <div [class]="containerClass">

        </div>
    </div>
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
<div class="row">
    <div class="col-lg-12">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        <span *ngIf="shift.id">{{l("EditShift")}}</span>
                         <span *ngIf="!shift.id">{{l("CreateNewShift")}}</span>
                    </h3>
                </div>
            </div>
            <!--begin::Form-->
            <form  class="kt-form kt-form--label-right" *ngIf="active"  #shiftForm="ngForm" novalidate (ngSubmit)="save(shiftForm)" autocomplete="off">
                <div class="kt-portlet__body">
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label for="Shift_NameAr">{{l("NameAr")}} *</label>
                            <input type="text" id="Shift_NameAr" class="form-control" [ngClass]="{ 'is-invalid': shiftForm.submitted && nameArInput.invalid}" #nameArInput="ngModel" [(ngModel)]="shift.nameAr" name="NameAr"     required/>
                            <validation-messages [formCtrl]="nameArInput" [frm]="shiftForm"></validation-messages>
                        </div>
                        <div class="col-lg-4">
                            <label for="Shift_NameEn">{{l("NameEn")}} *</label>
                                <input type="text" id="Shift_NameEn" class="form-control" [ngClass]="{ 'is-invalid': shiftForm.submitted && nameEnInput.invalid}" #nameEnInput="ngModel" [(ngModel)]="shift.nameEn" name="NameEn"     required/>
                                <validation-messages [formCtrl]="nameEnInput" [frm]="shiftForm"></validation-messages>
                        </div>
                        <div class="col-lg-4">
                            <label for="Shift_Code">{{l("Code")}} *</label>
                            <input type="text" id="Shift_Code" class="form-control" [ngClass]="{ 'is-invalid': shiftForm.submitted && codeInput.invalid}"  #codeInput="ngModel" [(ngModel)]="shift.code" name="Code"     required/>
                            <validation-messages [formCtrl]="codeInput" [frm]="shiftForm"></validation-messages>
                        </div>
                    </div>

                            <div class="form-group row">
                                <div class="col-lg-4">
                                    <label for="Shift_DayOff">{{l("DayOff")}}</label>
                                    <select class="form-control" name="DayOff" id="Shift_DayOff"  [ngClass]="{ 'is-invalid': shiftForm.submitted && dayOffInput.invalid}" #dayOffInput="ngModel"  [(ngModel)]="shift.dayOff" required>
                                        <validation-messages [formCtrl]="dayOffInput" [frm]="shiftForm"></validation-messages>
                                    <option value="1">{{l('Satarday')}}</option>

                                    <option value="2">{{l('Sunday')}}</option>

                                    <option value="3">{{l('Monday')}}</option>

                                    <option value="4">{{l('Tuesday')}}</option>

                                    <option value="5">{{l('Wednesday')}}</option>

                                    <option value="6">{{l('Thursday')}}</option>

                                    <option value="7">{{l('Friday')}}</option>


                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <label for="Shift_DayRest">{{l("DayRest")}}</label>
                                    <select class="form-control" name="DayRest" [ngClass]="{ 'is-invalid': shiftForm.submitted && dayRestInput.invalid}"  #dayRestInput="ngModel" id="Shift_DayRest" [(ngModel)]="shift.dayRest" required>
                                        <validation-messages [formCtrl]="dayRestInput" [frm]="shiftForm"></validation-messages>
                                    <option value="1">{{l('Satarday')}}</option>

                                    <option value="2">{{l('Sunday')}}</option>

                                    <option value="3">{{l('Monday')}}</option>

                                    <option value="4">{{l('Tuesday')}}</option>

                                    <option value="5">{{l('Wednesday')}}</option>

                                    <option value="6">{{l('Thursday')}}</option>

                                    <option value="7">{{l('Friday')}}</option>


                                    </select>
                                </div>

                                <div class="col-lg-4">
                                    <label for="ShiftType">{{l("ShiftType")}}</label>
                                    <select class="form-control" name="shiftType" [ngClass]="{ 'is-invalid': shiftForm.submitted && shiftTypeInput.invalid}"  #shiftTypeInput="ngModel" id="shiftType" [(ngModel)]="shift.shiftType" required>
                                        <validation-messages [formCtrl]="shiftTypeInput" [frm]="shiftForm"></validation-messages>
                                    <option value="1">{{l('Normal')}}</option>
                                    <option value="2">{{l('FixedOverTime')}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="from-group row">
                                <div class="col-lg-4 timeGroup">
                                    <div class="col-lg-2" >
                                        <label for="Shift_TimeIn">{{l("TimeIn")}}</label>
                                        <timepicker  [(ngModel)]="TimeInObj"  name="TimeInObj"  [showMeridian]="meridian"></timepicker>
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="Shift_TimeOut">{{l("TimeOut")}}</label>
                                        <timepicker [(ngModel)]="TimeOutObj"  name="TimeOutObj" [showMeridian]="meridian"></timepicker>
                                    </div>
                                   
                                </div>
                                <div class="col-lg-4" [ngClass]="{'timeGroup marginRight': this.localization.currentLanguage['isRightToLeft'],'timeGroupEn marginLeft': !this.localization.currentLanguage['isRightToLeft']}">
                                   
                                    <div class="col-lg-6">
                                       
                                        <label for="deductType">{{l("DeductType")}}</label>
                                        <div [ngClass]="{'option-right': this.localization.currentLanguage['isRightToLeft']}">
                                            <p-radioButton name="deductType"   [label]="l('Actual')" value="0"  [(ngModel)]="shift.deductType"></p-radioButton>
                                            <p-radioButton name="deductType"  [label]="l('Tolerance')"   value="1"    [(ngModel)]="shift.deductType"></p-radioButton>
                                        </div>
                                    </div>
                                <div class="col-lg-2">
                                    <label for="IsOverTimeAllowed">{{l("IsOverTimeAllowed")}}</label>
                                    <p-checkbox [(ngModel)]="shift.isOverTimeAllowed" name="isOverTimeAllowed" binary="true"></p-checkbox>
                                </div>
                                    
                                </div>


                            </div>
                            <div class="form-group row">

                            <div class="col-lg-4 timeGroup">
                                <div class="col lg 2">
                                    <label for="Shift_LateOut">{{l("LateOut")}}</label>
                                    <timepicker  [(ngModel)]="LateOutObj"  name="LateOutObj" [showMeridian]="meridian"></timepicker>
                                </div>
                                <div class="col lg 2">
                                    <label for="Shift_EarlyOut">{{l("EarlyOut")}}</label>
                                    <timepicker [(ngModel)]="EarlyOutObj"  name="EarlyOutObj" [showMeridian]="meridian"></timepicker>
                                </div>
                               
                            </div>
                            <div class="col-lg-4" [ngClass]="{'timeGroup marginRight': this.localization.currentLanguage['isRightToLeft'],'timeGroupEn marginLeft': !this.localization.currentLanguage['isRightToLeft']}">
                                <div class="col-lg-2">
                                    <label for="Shift_LateIn">{{l("LateIn")}}</label>
                                    <timepicker  [(ngModel)]="LateInObj"  name="LateInObj" [showMeridian]="meridian"></timepicker>
                                </div>
                                <div class="col-lg-2">
                                    <label for="Shift_EarlyIn">{{l("EarlyIn")}}</label>
                                    <timepicker [(ngModel)]="EarlyInObj"  name="EarlyInObj" [showMeridian]="meridian"></timepicker>
                                </div>
                                
                               
                            </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-4 timeGroup">
                                   
                                    <div class="col lg 2">
                                        <label for="Shift_TimeOutRangeTo">{{l("TimeOutRangeTo")}}</label>
                                        <timepicker [(ngModel)]="TimeOutRangeToObj"  name="TimeOutRangeToObj" [showMeridian]="meridian"></timepicker>
                                    </div>
                                    <div class="col lg 2">
                                        <label for="Shift_TimeOutRangeFrom">{{l("TimeOutRangeFrom")}}</label>
                                        <timepicker [(ngModel)]="TimeOutRangeFromObj"  name="TimeOutRangeFromObj" [showMeridian]="meridian"></timepicker>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4" [ngClass]="{'timeGroup marginRight': this.localization.currentLanguage['isRightToLeft'],'timeGroupEn marginLeft': !this.localization.currentLanguage['isRightToLeft']}">
                                   
                                   
                                    <div class="col lg 2">
                                        <label for="Shift_TimeInRangeTo">{{l("TimeInRangeTo")}}</label>
                                        <timepicker  [(ngModel)]="TimeInRangeToObj"  name="TimeInRangeToObj" [showMeridian]="meridian"></timepicker>
                                    </div>
                                    <div class="col lg 2">
                                        <label for="Shift_TimeInRangeFrom">{{l("TimeInRangeFrom")}}</label>
                                        <timepicker  [(ngModel)]="TimeInRangeFromObj"  name="TimeInRangeFromObj" [showMeridian]="meridian"></timepicker>
    
                                    </div>
                                   
                                   
                                 
                                </div>
                                

                            </div>
                          

                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions">
                        <div class="row">
                            <div class="col-lg-6">
                                <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                                <button type="submit" class="btn btn-primary blue" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
    </div>
</div>
</div>

</div>
