<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #manualTransactionForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="manualTransaction.id">{{l("EditManualTransaction")}}</span>
                        <span *ngIf="!manualTransaction.id">{{l("CreateNewManualTransaction")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


					<div class="form-group m-form__group">
                        <label for="UserName">{{l("EmployeeName")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="UserName" name="userName" [(ngModel)]="userName" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectUserModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setUserIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="manualTransaction.pin" [(ngModel)]="manualTransaction.pin" type="text"  hidden>


								<div class="form-group">
									<label for="ManualTransaction_TransDate">{{l("TransactionDate")}}</label>
									 <input required class="form-control m-input" type="datetime" bsDatepicker [(ngModel)]="manualTransaction.transaction_Date._d" id="ManualTransaction_transaction_Date" name="ManualTransaction_transaction_Date">
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-6">
                                        <label for="timeObjInput">{{l("Time")}}</label>
                                        <timepicker  id="timeObjInput" [(ngModel)]="timeObj" #timeObjObjInput="ngModel"  name="timeObj" [showMeridian]="meridian"></timepicker>
                                    </div>
                                </div>

								<div class="form-group">
									<label for="ManualTransaction_KeyType">{{l("TransactionType")}}</label>

                                    <select id="ManualTransaction_KeyType" class="form-control" [(ngModel)]="manualTransaction.keyType" name="KeyType">
                                        <option value="1">{{l('In')}}</option>
                                        <option value="2">{{l('Out')}}</option>
                                    </select>

								</div>


                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!manualTransactionForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<manualTransactionUserLookupTableModal #manualTransactionUserLookupTableModal (modalSave)="getNewUserId()"></manualTransactionUserLookupTableModal>

</div>
