<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #manualTransactionForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="inManualTransaction.id">{{l("EditManualTransaction")}}</span>
                        <span *ngIf="!inManualTransaction.id">{{l("CreateNewManualTransaction")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="display: flex;">
                        <div class="col-lg-6">
                            <label for="timeObjInput">{{l("Time")}}</label>
                            <timepicker  id="timeObjInput" [(ngModel)]="inTimeObj" #timeObjObjInput="ngModel"  name="inTimeObj" [showMeridian]="meridian"></timepicker>
                        </div>
                        <div class="col-lg-6">
                            <label for="timeObjInput">{{l("Time")}}</label>
                            <timepicker  id="timeObjInput" [(ngModel)]="outTimeObj" #timeObjObjInput="ngModel"  name="outTimeObj" [showMeridian]="meridian"></timepicker>
                        </div>
                    </div>

					<div class="form-group m-form__group">
                        <label for="MachineNameEn">{{l("Machine")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="MachineNameEn" name="machineNameEn" [(ngModel)]="machineNameEn" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectMachineModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setMachineIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="manualTransaction.machineId" [(ngModel)]="inManualTransaction.machineId" type="text"  hidden>
                    <div class="form-group">
                        <label for="editNote">{{l("Reason")}}*</label>
                        <input class="form-control" id="editNote" name="editNote" [(ngModel)]="inManualTransaction.editNote" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!manualTransactionForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<manualTransactionUserLookupTableModal #manualTransactionUserLookupTableModal (modalSave)="getNewUserId()"></manualTransactionUserLookupTableModal>
		 <manualTransactionMachineLookupTableModal #manualTransactionMachineLookupTableModal (modalSave)="getNewMachineId()"></manualTransactionMachineLookupTableModal>

</div>
