<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" >
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            {{l('UnitManagerTransactions')}} (HR)
                        </h3>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="kt-form kt-form--fit kt-form--label-right" autocomplete="off">
                    <div class="kt-portlet__body" [busyIf]="loading">

                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label for="Project">{{l("Project")}}</label>
                                        <p-dropdown styleClass="form-control" [options]="projectList" [(ngModel)]="selectedProject" name="selectedProject"  #selectedProjectInput="ngModel" placeholder="Select a Project" optionLabel="nameEn" [showClear]="true"></p-dropdown>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label for="TimeProfile_StartDate">{{l("StartDate")}}</label>
                                        <input required class="form-control m-input" type="datetime" bsDatepicker  [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',isAnimated: true }" [(ngModel)]="fromDate" id="fromDate" name="fromDate">
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="toDate">{{l("EndDate")}}</label>
                                        <input required class="form-control m-input" type="datetime" bsDatepicker  [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',isAnimated: true }" [(ngModel)]="toDate" id="toDate" name="toDate">
                                    </div>
                                    <div class="col-lg-4" style="margin-top: auto;">
                                        <button class="btn btn-success" type="button" (click)="getDate()" >Generate</button>
                                    </div>

                                </div>
                                <br>
                                <br>
                                    <div class="row" >
                                        <div class="col-lg-12">
                                            <div class="row row-no-padding row-col-separator-xl">
                                                <div class="col-md-12 col-lg-6 col-xl-3">
                                                    <div class="kt-widget24">
                                                        <div class="kt-widget24__details">
                                                            <div class="kt-widget24__info">
                                                                <h4 class="kt-widget24__title">
                                                                    Total Overtime : {{ totalOverTimeString }}
                                                                </h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                <br>
                                <br>
                                <div class="row"  >
                                    <div class="col-lg-12">
                                        <div class="row align-items-center">
                                            <!--<Primeng-Datatable-Start>-->
                                            <div class="primeng-datatable-container col-12">
                                                <p-table
                                                #dt
                                                [(selection)]="selectedTransactions"
                                                styleClass="ui-table-customers"
                                                [value]="data.items"
                                                [responsive]="true"
                                                [paginator]="true"
                                                [rows]="10"
                                                [rowsPerPageOptions]="[10,25,50]">
                                                    <ng-template pTemplate="caption">
                                                        Transactions
                                                        <div class="ui-table-globalfilter-container">
                                                            <a href="javascript:;" style="margin-top: -11px;" class="btn btn-icon btn-success" (click)="BulkUpdateTransaction()">
                                                                <i class="flaticon2-check-mark"></i>
                                                            </a>

                                                        </div>
                                                    </ng-template>
                                                    <ng-template pTemplate="header">
                                                        <tr>
                                                            <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                                                            <th pSortableColumn="userName">Employee <p-sortIcon field="userName"></p-sortIcon></th>
                                                            <th pSortableColumn="date">Day <p-sortIcon field="date"></p-sortIcon></th>
                                                            <th>Transaction Time</th>
                                                            <th>Type</th>
                                                            <th>Shift Name</th>
                                                            <th>Shift Time In</th>
                                                            <th>Shift Time Out</th>
                                                            <th>Late</th>
                                                            <th>Overtime</th>
                                                            <th>Project Manager Approve</th>
                                                            <th>Unit Manager Approve</th>

                                                            <th>Status</th>
                                                            <th>Actions</th>

                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-getTransactionForViewDto>
                                                        <tr [@rowsAnimation]=""  [ngClass]="{'approve': getTransactionForViewDto.transaction.hrApprove}">
                                                            <td>
                                                                <p-tableCheckbox [value]="getTransactionForViewDto"></p-tableCheckbox>
                                                            </td>
                                                            <td>
                                                                {{getTransactionForViewDto.userName}}
                                                            </td>
                                                            <td>
                                                                {{ getTransactionForViewDto.transaction.transaction_Date | momentFormat:'DD/MM/YYYY' }}
                                                            </td>
                                                            <td>
                                                                {{getTransactionForViewDto.transaction.time}}
                                                            </td>
                                                            <td>
                                                                {{getTransactionForViewDto.transaction.keyType == 1 ? 'In' : 'Out'}}
                                                            </td>
                                                            <td>
                                                                {{getTransactionForViewDto.shiftName }}
                                                            </td>
                                                            <td>
                                                                {{getTransactionForViewDto.timeIn | minutesToTime}}
                                                            </td>
                                                            <td>
                                                                {{getTransactionForViewDto.timeOut | minutesToTime}}
                                                            </td>
                                                            <td>
                                                                {{getTransactionForViewDto.transaction.keyType == 1 ? getTransactionForViewDto.attendance_LateIn : getTransactionForViewDto.attendance_EarlyOut  }}
                                                            </td>
                                                            <td>
                                                                {{getTransactionForViewDto.overtime}}
                                                            </td>
                                                            <td>
                                                                <span class="ui-column-title"> {{l('Status')}}</span>
                                                                <div *ngIf="getTransactionForViewDto.transaction.projectManagerApprove" class="text-center"><i class="fa fa-check-circle kt--font-success" style="color: green;" title="True"></i></div>
                                                                <div *ngIf="!getTransactionForViewDto.transaction.projectManagerApprove" class="text-center"><i class="fa fa-times-circle" style="color: red;"  title="False"></i></div>
                                                            </td>
                                                            <td>
                                                                <span class="ui-column-title"> {{l('Status')}}</span>
                                                                <div *ngIf="getTransactionForViewDto.transaction.unitManagerApprove" class="text-center"><i class="fa fa-check-circle kt--font-success" style="color: green;" title="True"></i></div>
                                                                <div *ngIf="!getTransactionForViewDto.transaction.unitManagerApprove" class="text-center"><i class="fa fa-times-circle"   style="color: red;" title="False"></i></div>
                                                            </td>
                                                            <td>
                                                                <span class="ui-column-title"> {{l('Status')}}</span>
                                                                <div *ngIf="getTransactionForViewDto.transaction.hrApprove" class="text-center"><i class="fa fa-check-circle kt--font-success" style="color: green;" title="True"></i></div>
                                                                <div *ngIf="!getTransactionForViewDto.transaction.hrApprove" class="text-center"><i class="fa fa-times-circle"  style="color: red;" title="False"></i></div>
                                                            </td>

                                                            <td>
                                                                <div class="btn-group dropdown" dropdown container="body" *ngIf="getTransactionForViewDto.transaction.projectManagerApprove && getTransactionForViewDto.transaction.unitManagerApprove" >
                                                                    <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                                        <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                                                    </button>
                                                                        <ul class="dropdown-menu"  *dropdownMenu>
                                                                        <li>
                                                                            <a href="javascript:;" (click)="updateSingleTransaction(getTransactionForViewDto,true)" >{{l('Approve')}}</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="javascript:;"  (click)="updateSingleTransaction(getTransactionForViewDto,false)">{{l('Reject')}}</a>
                                                                        </li>


                                                                    </ul>
                                                                </div>
                                                            </td>
                                                    </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                    </div>

                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- <button type="submit" class="btn btn-primary blue" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>

        </div>
    </div>
    <editTimeTransactionModal #editTimeTransactionModal (modalSave)="editTransaction()"></editTimeTransactionModal>
</div>





