<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #organizationLocationForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="organizationLocation.id">{{l("EditOrganizationLocation")}}</span>
                        <span *ngIf="!organizationLocation.id">{{l("CreateNewOrganizationLocation")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="OrganizationUnitDisplayName">{{l("OrganizationUnit")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="OrganizationUnitDisplayName" name="organizationUnitDisplayName" [(ngModel)]="organizationUnitDisplayName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectOrganizationUnitModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setOrganizationUnitIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="organizationLocation.organizationUnitId" [(ngModel)]="organizationLocation.organizationUnitId" type="text"  hidden>
		 
					<div class="form-group m-form__group">
                        <label for="LocationTitleEn">{{l("Location")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="LocationTitleEn" name="locationTitleEn" [(ngModel)]="locationTitleEn" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectLocationModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setLocationIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="organizationLocation.locationId" [(ngModel)]="organizationLocation.locationId" type="text"  hidden>
		 


                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!organizationLocationForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<organizationLocationOrganizationUnitLookupTableModal #organizationLocationOrganizationUnitLookupTableModal (modalSave)="getNewOrganizationUnitId()"></organizationLocationOrganizationUnitLookupTableModal>
		 <organizationLocationLocationLookupTableModal #organizationLocationLocationLookupTableModal (modalSave)="getNewLocationId()"></organizationLocationLocationLookupTableModal>
		 
</div>