<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #employeeTempTransferForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="employeeTempTransfer.id">{{l("EditEmployeeTempTransfer")}}</span>
                        <span *ngIf="!employeeTempTransfer.id">{{l("CreateNewEmployeeTempTransfer")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


					<div class="form-group m-form__group">
                        <label for="OrganizationUnitDisplayName">{{l("OrganizationUnit")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="OrganizationUnitDisplayName" name="organizationUnitDisplayName" [(ngModel)]="organizationUnitDisplayName" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectOrganizationUnitModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setOrganizationUnitIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="employeeTempTransfer.organizationUnitId" [(ngModel)]="employeeTempTransfer.organizationUnitId" type="text"  hidden>

					<div class="form-group m-form__group">
                        <label for="UserName">{{l("Employee")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="UserName" name="userName" [(ngModel)]="userName" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectUserModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setUserIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="employeeTempTransfer.userId" [(ngModel)]="employeeTempTransfer.userId" type="text"  hidden>


								<div class="form-group">
									<label for="EmployeeTempTransfer_FromDate">{{l("FromDate")}}</label>
									 <input required class="form-control m-input" type="datetime" bsDatepicker [(ngModel)]="employeeTempTransfer.fromDate._d" id="EmployeeTempTransfer_FromDate" name="EmployeeTempTransfer_FromDate">
								</div>

								<div class="form-group">
									<label for="EmployeeTempTransfer_ToDate">{{l("ToDate")}}</label>
									 <input required class="form-control m-input" type="datetime" bsDatepicker [(ngModel)]="employeeTempTransfer.toDate._d" id="EmployeeTempTransfer_ToDate" name="EmployeeTempTransfer_ToDate">
								</div>


                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!employeeTempTransferForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<employeeTempTransferOrganizationUnitLookupTableModal #employeeTempTransferOrganizationUnitLookupTableModal (modalSave)="getNewOrganizationUnitId()"></employeeTempTransferOrganizationUnitLookupTableModal>
		 <employeeTempTransferUserLookupTableModal #employeeTempTransferUserLookupTableModal (modalSave)="getNewUserId()"></employeeTempTransferUserLookupTableModal>

</div>
