<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
     aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <form *ngIf="active" #editForm="ngForm" novalidate (ngSubmit)="save(editForm)">

                <div class="modal-header">
                    <h5 class="modal-title">
                        <span *ngIf="organizationUnit.id">{{"Edit" | localize}}: {{organizationUnit.displayName}}</span>
                        <span *ngIf="!organizationUnit.id">{{"NewOrganizationUnit" | localize}}</span>
                    </h5>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                   

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label for="OrganizationUnitDisplayName">{{"Name" | localize}} *</label>
                        <input id="OrganizationUnitDisplayName" [ngClass]="{ 'is-invalid': editForm.submitted && organizationUnitDisplayName.invalid}" #organizationUnitDisplayName="ngModel" class="form-control" type="text" name="displayName" [ngClass]="{'edited': organizationUnit.displayName}" [(ngModel)]="organizationUnit.displayName" required maxlength="128">
                        <validation-messages [frm]="editForm" [formCtrl]="organizationUnitDisplayName"></validation-messages>
                    </div>

                    <div class="form-group m-form__group">
                        <label for="UserName">{{l("Manager")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="UserName"   name="userName" [(ngModel)]="userName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectUserModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setUserIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="organizationUnit.managerId" [(ngModel)]="organizationUnit.managerId" type="text"  hidden>

                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{"Cancel" | localize}}</button>
                    <button type="submit" class="btn btn-primary" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
                </div>

            </form>

        </div>
    </div>
    <organizationManagerLookupTableModal #organizationManagerLookupTableModal (modalSave)="getNewUserId()"></organizationManagerLookupTableModal>
</div>


