@model  Pixel.Attendance.Web.Models.HeaderModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html dir="rtl">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
</head>
<body>
    <table class="table" style="background-color:gray;color:white">
       <tbody>
           <tr>
               <td style="text-align:right">
                   <h4> @Model.ReportName </h4>
               </td>
               <td>
                   <img width="100" height="50" src="~/Common/Images/app-logo-on-light.svg" />
               </td>

           </tr>
       </tbody>
     </table> <br />
</body>
</html>
