<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #mobileWebPageForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="mobileWebPage.id">{{l("EditMobileWebPage")}}</span>
                        <span *ngIf="!mobileWebPage.id">{{l("CreateNewMobileWebPage")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="MobileWebPage_Name">{{l("Name")}} *</label>
									<input type="text" id="MobileWebPage_Name" class="form-control" [(ngModel)]="mobileWebPage.name" name="Name"     required/>
								</div>
					
								<div class="form-group">
									<label for="MobileWebPage_Content">{{l("Content")}}</label>
                                    <!-- <input type="text" id="MobileWebPage_Content" class="form-control" [(ngModel)]="mobileWebPage.content" name="Content"    /> -->
                                    <p-editor [(ngModel)]="mobileWebPage.content" name="Content" [style]="{'height':'320px'}"></p-editor>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!mobileWebPageForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>