<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #transactionLogForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="transactionLog.id">{{l("EditTransactionLog")}}</span>
                        <span *ngIf="!transactionLog.id">{{l("CreateNewTransactionLog")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="TransactionTransaction_Date">{{l("Transaction")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="TransactionTransaction_Date" name="transactionTransaction_Date" [(ngModel)]="transactionTransaction_Date" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectTransactionModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setTransactionIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="transactionLog.transactionId" [(ngModel)]="transactionLog.transactionId" type="text"  hidden>
		 
					<div class="form-group m-form__group">
                        <label for="UserName">{{l("User")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="UserName" name="userName" [(ngModel)]="userName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectUserModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setActionByNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="transactionLog.actionBy" [(ngModel)]="transactionLog.actionBy" type="text"  hidden>
		 

								<div class="form-group">
									<label for="TransactionLog_OldValue">{{l("OldValue")}}</label>
									<input type="text" id="TransactionLog_OldValue" class="form-control" [(ngModel)]="transactionLog.oldValue" name="OldValue"    />
								</div>
					
								<div class="form-group">
									<label for="TransactionLog_NewValue">{{l("NewValue")}}</label>
									<input type="text" id="TransactionLog_NewValue" class="form-control" [(ngModel)]="transactionLog.newValue" name="NewValue"    />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!transactionLogForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<transactionLogTransactionLookupTableModal #transactionLogTransactionLookupTableModal (modalSave)="getNewTransactionId()"></transactionLogTransactionLookupTableModal>
		 <transactionLogUserLookupTableModal #transactionLogUserLookupTableModal (modalSave)="getNewActionBy()"></transactionLogUserLookupTableModal>
		 
</div>