<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #locationCredentialForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="locationCredential.id">{{l("EditLocationCredential")}}</span>
                        <span *ngIf="!locationCredential.id">{{l("CreateNewLocationCredential")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="LocationDescriptionAr">{{l("Location")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="LocationDescriptionAr" name="locationDescriptionAr" [(ngModel)]="locationDescriptionAr" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectLocationModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setLocationIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="locationCredential.locationId" [(ngModel)]="locationCredential.locationId" type="text"  hidden>
		 

								<div class="form-group">
									<label for="LocationCredential_Longitude">{{l("Longitude")}}</label>
									<input type="number" id="LocationCredential_Longitude" class="form-control" [(ngModel)]="locationCredential.longitude" name="Longitude"  />
								</div>
					
								<div class="form-group">
									<label for="LocationCredential_Latitude">{{l("Latitude")}}</label>
									<input type="number" id="LocationCredential_Latitude" class="form-control" [(ngModel)]="locationCredential.latitude" name="Latitude"  />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!locationCredentialForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<locationCredentialLocationLookupTableModal #locationCredentialLocationLookupTableModal (modalSave)="getNewLocationId()"></locationCredentialLocationLookupTableModal>
		 
</div>