<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #permitForm="ngForm" novalidate (ngSubmit)="save(permitForm)" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="permit.id">{{l("EditPermit")}}</span>
                        <span *ngIf="!permit.id">{{l("CreateNewPermit")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
						<div class="col-lg-6">
							<label for="Permit_DescriptionAr">{{l("DescriptionAr")}} *</label>
                                    <input type="text" id="Permit_DescriptionAr"  [ngClass]="{ 'is-invalid': permitForm.submitted && descriptionArInput.invalid}" #descriptionArInput="ngModel" class="form-control" [(ngModel)]="permit.descriptionAr" name="DescriptionAr"     required/>
                                    <validation-messages [formCtrl]="descriptionArInput" [frm]="permitForm"></validation-messages>
						</div>
						<div class="col-lg-6">
                            <label for="Permit_DescriptionEn">{{l("DescriptionEn")}} *</label>
                            <input type="text" id="Permit_DescriptionEn" [ngClass]="{ 'is-invalid': permitForm.submitted && descriptionEnInput.invalid}" #descriptionEnInput="ngModel"  class="form-control" [(ngModel)]="permit.descriptionEn" name="DescriptionEn"     required/>
                            <validation-messages [formCtrl]="descriptionEnInput" [frm]="permitForm"></validation-messages>
						</div>
					</div>


                    <div class="form-group">
                        <label> {{l('Type')}}  </label>
                        <div class="kt-checkbox-inline">
                            <label class="kt-checkbox">
                                <input type="checkbox" name="lateIn" [checked]="permit.lateIn" [(ngModel)]="permit.lateIn"> {{l('LateIn')}}
                                <span></span>
                            </label>

                            <label class="kt-checkbox">
                                <input type="checkbox" name="earlyOut"  [checked]="permit.earlyOut" [(ngModel)]="permit.earlyOut"> {{l('EarlyOut')}}
                                <span></span>
                            </label>


                        </div>
                    </div>





                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue"  [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>
